# Series y dataframes in Pandas
### Resources
https://drive.google.com/file/d/1f5j5ZA1XeOaDIulGjyfBcsGXvumoY4gi/view?usp=sharing

In [2]:
import pandas as pd

In [6]:

# Panda Series with personal index
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1, 7, 10, 30])
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [7]:
# Panda Series with automatic index
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [8]:
# Panda Series by dict
dict = {1: 'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [9]:
psg = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'])
psg[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [10]:
psg_dict = {
    'Player':['Navas','Mbappe', 'Neymar', 'Messi'],
    'Height':[183.0, 170.0, 172.0, 165.0],
    'Goals':[2, 200, 300, 450]
 }

In [14]:
numbers = [1, 7, 10, 30]
players = pd.DataFrame(psg_dict, index=numbers)
players

    Player  Height  Goals
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   172.0    300
30   Messi   165.0    450

In [15]:
players.columns

Index(['Player', 'Height', 'Goals'], dtype='object')

In [16]:
players.index

Int64Index([1, 7, 10, 30], dtype='int64')